@model HabitosApp.Web.DTOs.HabitosAppRoleDTO

@{
    ViewData["Title"] = "Nuevo Rol";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<section class="section dashboard">

    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Nuevo Rol</h3>


            <form class="row g-3" asp-action="Create" method="POST" id="frmCreate">

                <input type="hidden" id="permissionIds" name="PermissionIds" />

                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

            </form>

        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-body">

            <h3 class="card-title">Permisos</h3>

            <div class="row">

                @foreach (var module in Model.Permissions.GroupBy(obj => obj.Module))
                {
                    <div class="col-md-3 mt-3">
                        <h5>@module.Key</h5>

                        @foreach (var permission in module)
                        {
                            <div class="form-check form-switch">
                                <input class="form-check-input permission" type="checkbox" data-permission-id="@permission.Id"
                                    id="permission_@permission.Id" @(permission.Selected ? "checked" : "")>

                                <label class="form-check-label" for="permission_@permission.Id">@permission.Description</label>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary" form="frmCreate" id="btnSave">Guardar</button>
        <a asp-action="Index" class="btn btn-secondary">Volver</a>
    </div>

</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>

        $(document).ready(function () {

            $("#btnSave").click(function (event) {

                const permissions = $('.permission:checked');

                let permissionIds = [];

                permissions.each(function () {

                    const permissionId = $(this).data('permission-id');
                    permissionIds.push(permissionId);
                });

                $('#permissionIds').val(JSON.stringify(permissionIds));

            });

        });

    </script>
}