﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>NotAutorized</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

</head>

<body>

    <main>
        <div class="container">

            <h1>403</h1>
            <h2>No autorizado</h2>

        </div>
    </main>

</body>

</html>