<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>HabitosApp</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        Designed by ElMejorEquipoDelMundo
    </div>
</footer>